table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

body {
  background-color: #333333; 
  color: white;
}


#logo {
  margin: auto;
  display: block;
  padding: 10px;
  width: 10%;
}

thead tr {
    text-align: center;

}

tbody tr {
    text-align: center;


}

thead td {
    text-align: center;
}

th {
  text-align: center;
  font-style: bold;
  background: #f4511e;  
  font-size: 15px;
  text-align: center;
  border: 3px solid #f4511e;

}

.footer {
  margin: auto;
  display: block;
}

a > img {
  margin: 0 auto;
  display: block;
  width: 10%;
}


label > select {
  border-radius: 25px;
  border: 4px inset #4536ba;">
}

label > input {
  border-radius: 25px;
  border: 8px inset #4536ba;">
}

#records_table_previous, #records_table_next, div > span > a {
   border-radius: 25px;
   border: 4px inset #4536ba;"
   padding: 18px;
   display:inline-block;
}


#records_table_previous, #records_table_next, div > span > a {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#records_table_previous:after, #records_table_next:after, div > span > a:after {
  content: '\00bb';  /* CSS Entities. To use HTML Entities, use &#8594;*/
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

